doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title A Talk on Bower and Workflows

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 A Talk on Bower and Workflows
        h3 November 12, 2014 @ Node.DTLA
        img.bower-logo(src='images/bower-logo.png')
        p
        p
        ul
          li <a href="https://github.com/benjaminma/talk-bower-workflows">https://github.com/benjaminma/talk-bower-workflows</a>

      section
        h2 Ben Ma
        ul
          li Software Developer
          li <a href="mailto:ben@benjaminma.com">ben@benjaminma.com</a>

      section.align-left
        h2 Bower?
        p
        ol
          li A Node.js module
          li A command line tool
          li A package manager for the web
          li By Alex MacCaw, Jacob Thornton
        p
        ul
          li <a href="http://bower.io/">http://bower.io/</a>

      section
        h2 npm?
        p
        h3 But we already have a package manager...
        p
        ul
          li <a href="http://www.quora.com/Why-use-Bower-when-there-is-npm">http://www.quora.com/Why-use-Bower-when-there-is-npm</a>

      section.align-left
        h2 Agenda
        p
        ol
          li Installing Bower
          li Installing and using Bower packages
          li Finding Bower packages
          li Developing your own package
          li Q&A

      section
        h2 Installing Bower
        pre
          code.language-javascript
            |$ npm install --global bower
            |$ bower --version && bower help

      section
        h2 Installing Bower Packages
        pre
          code.language-javascript
            |$ bower install jquery
            |$ bower install &lt;source&gt;#&lt;target&gt; [--save]
            |# &lt;source&gt; = registry name, github, git URL
            |# &lt;target&gt; = semver, branch, sha1
            |$ bower list --paths
        p
        p
        ul
          li <a href="https://github.com/bower/semver">https://github.com/bower/semver</a>

      section
        h2 bower.json Manifest File
        pre.compact
          code.language-javascript
            |$ bower init && cat bower.json
            |{
            |  "name": "talk-bower-workflows",
            |  "version": "0.1.0",
            |  "dependencies": {
            |    ...
            |  }
            |}
        p
        p
        ul
          li <a href="https://github.com/bower/bower.json-spec">https://github.com/bower/bower.json-spec</a>

      section
        h2 Finding Bower Packages
        pre
          code.language-javascript
            |$ bower search bootstrap
            |$ bower home bootstrap
        p
        p Alternatively:
        ul
          li <a href="http://bower.io/search/">http://bower.io/search/</a>

      section
        h2 Automating Bower
        h3 w/ Grunt, Gulp
        pre.compact
          code.language-markup
            |&lt;html&gt;
            |&lt;head&gt;
            |  &lt;!-- bower:css --&gt;
            |  &lt;!-- endbower --&gt;
            |&lt;/head&gt;
            |...
        p
        p Wiredep & other tools:
        ul
          li <a href="http://bower.io/docs/tools/">http://bower.io/docs/tools/</a>

      section
        h2 Local Package Development
        pre
          code.language-javascript
            |$ bower link
            |$ bower link &lt;myownpackage&gt;
            |$ bower version &lt;whattobump&gt;
            |$ git push --tags
        p
        p
        ul
          li <a href="https://oncletom.io/2013/live-development-bower-component/">https://oncletom.io/2013/live-development-bower-component/</a>

      section
        h2 Thank You!

      section.align-left
        h2 Links
        ul
          li <a href="https://github.com/benjaminma/talk-bower-workflows">GitHub: benjaminma/talk-bower-workflows</a>
          li <a href="http://bower.io/">Bower Homepage</a>
          li <a href="http://www.quora.com/Why-use-Bower-when-there-is-npm">Quora: Why use Bower when there is npm?</a>
          li <a href="https://github.com/bower/semver">GitHub: bower/semver</a>
          li <a href="http://bower.io/search/">Bower Search</a>
          li <a href="http://bower.io/docs/tools/">Bower Tools (wiredep!)</a>
          li <a href="https://oncletom.io/2013/live-development-bower-component/">Oncle Tom's Bower Link Tutorial</a>
          li <a href="http://www.truelab.eu/cheatsheets/truelab_bower_cheatsheet_white.pdf">PDF: Truelab's Bower Cheat Sheet</a>
          li <a href="https://github.com/markusfalk/front-end-cheatsheet/blob/master/pdf/front-end-cheat-sheet.pdf?raw=true">PDF: @markus_falk's Front End Cheat Sheet (semver!)</a>

    script(src='build/build.js')
